services:
  postgres:
    container_name: firstkilometer_postgres
    build: ./database
    environment:
      POSTGRES_USER: firstkilometer_databaseuser
      POSTGRES_PASSWORD: pass2databaseuser
      POSTGRES_DB: firstkilometer
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
      - ./database/create_database.sql:/docker-entrypoint-initdb.d/init.sql
      - ./database/backups:/backup
      - ./database/backups/log.txt:/var/log/cron.log
    networks:
      - backend_net
    restart: unless-stopped

  pgadmin:
    container_name: firstkilometer_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@mail.com
      PGADMIN_DEFAULT_PASSWORD: pass2admin
      PGADMIN_LISTEN_PORT: 80
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5051:80"
    networks:
      - backend_net
    restart: unless-stopped

  backend:
    container_name: firstkilometer_backend
    build: ./backend
    environment:
      DATABASE_NAME: firstkilometer
      DATABASE_USER: firstkilometer_databaseuser
      DATABASE_PASS: pass2databaseuser
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      SITE_URL: http://localhost
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_EMAIL: admin@mail.com
      DJANGO_SUPERUSER_PASSWORD: pass2admin
    ports:
      - "8005:8000"
    volumes:
      - ./documents/templates:/app/services/doc_templates
      - ./documents/media:/app/uploads/media
      - ./documents/users:/app/uploads/documents
    networks:
      - backend_net
    depends_on:
      - postgres
    restart: unless-stopped

  frontend:
    container_name: firstkilometer_frontend
    build:
      context: ./frontend
      args:
        BACKEND_PROTOCOL: http
        BACKEND_DOMAIN: backend
        BACKEND_PORT: 8000
        BASE_URL: http://localhost
        API_PATTERN: api
    networks:
      - frontend_net
    depends_on:
      - backend
    restart: unless-stopped

  nginx:
    container_name: firstkilometer_nginx
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./documents/media:/documents/media
      - ./documents/users:/documents/users
    networks:
      - frontend_net
      - backend_net
    depends_on:
      - backend
      - frontend
    restart: unless-stopped

networks:
  frontend_net:
    driver: bridge
  backend_net:
    driver: bridge

volumes:
  postgres:
  pgadmin:
